body {
  background-color: rgb(99, 54, 54);
}

#text {
  background-color: rgb(22, 7, 7);
  color: rgb(221, 221, 216);
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: rgb(194, 195, 195);
  color: rgb(140, 61, 129);
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}